/*
#5c87bc
#cccccc
#9ea38e
#bec1b3 or rgb 190, 193, 179, 1
*/ 
body{
	/*font-family: 'Roboto', sans-serif;*/
	font-family: 'Roboto', sans-serif;
    background-color: #bad3f2;
}
#local_temp{
	/*background-color: #bec1b3;*/
	background: rgba(190, 193, 179, 0.75);
    -pie-background:  rgba(190, 193, 179, 0.75);
    behavior: url(PIE.htc);
	width: 500px;
    margin: auto;
    border: 1px solid #5c8bad;
    border-radius: 3px;
    box-shadow: 3px 3px 7px #888888;
}
#local_temp ul{
	padding-left: 36px;
}
img{
	padding-top: 10px;
	height: 50px;
}
#more_data{
	background: rgba(190, 193, 179, 0.75);
    -pie-background:  rgba(190, 193, 179, 0.75);
    behavior: url(PIE.htc);
	width: 500px;
    margin: auto;
    border: 1px solid #5c8bad;
    border-radius: 3px;
    box-shadow: 3px 3px 7px #888888;
    
}
.nav-bar{
	width: 500px;
	margin: auto;
}
button{
	background-color: #bec1b3;
	/*border: 1px solid #5c8bad;*/
	border-radius: 3px;
	box-shadow: 3px 3px 7px #888888


}
.button {
    position: relative;
    background-color: #bec1b3;
    border: 1px solid #5c8bad;
    font-size: 12px;
    color: black;
    padding: 10px;
    width: 125px;
    text-align: center;
    float: right;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: .75;
    transition: 0s
}

img{
	float: left;
	padding-right: 30px;
}
#local_temp img{
	height: 30px;
	padding-left: 10px;
	padding-right: 40px;
}

ul{   
	list-style: none;
}
h1 {
	text-align: center;
}
